# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/

# User-specific files
*.user
*.rsuser

# Visual Studio Code
.vscode/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
packages/

# Logs
*.log